* {
    background-color: black;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  nav ul li {
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.5rem;
  }
  
  nav ul li a {
    color: rgb(229 177 58);
    text-decoration: none;
    }

    a {
        outline: none;
        text-decoration: none;
      }
      
      a:link {
        color: rgb(229 177 58);
      }
      
      a:visited {
        color: rgb(229 177 58);;
      }

h1 {
    text-align: center;
    color: rgb(229 177 58);
    font-weight: Bold;
    font-size: 3.0rem;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    background-color: rgb(229 177 58);
}

.container div {
    width: 200px;
    margin: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

